# Compilaciones y ejecutables
build/
dist/
*.spec
tensiometro_reconstructed.exe
tensiometro-final (1).exe

# Carpetas de extraccion/descompresion
*_extracted/
*.exe_extracted/
tensiometro-final (1).exe_extracted/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Scripts temporales de prueba y backups
test_filter.py
test_color.py
*_backup.py

# DATASETS PESADOS (Ignorados para evitar que GitHub rechace el push por limite de 100MB)
Baumanometro/Baumanometro/dataset/
*.mat
*.zip

# Scripts de automatizacion locales
push.bat
push_to_github.bat
